body {
  background: linear-gradient(to bottom, #000000 0%, #f5f7fa 10%, orange 100%);
  font-family: 'Segoe UI', sans-serif;
}

.header {
  background-color: #f57c00;
  color: rgb(9, 3, 3);
  padding: 30px;
  border-bottom: 4px solid #084298;
}

.profile-pic {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.section-title {
  margin-top: 20px;
  font-weight: 600;
  color: #3d1303;
  border-bottom: 2px solid #620303;
  display: inline-block;
}

.content-section {
  background-color: #ee8814;
  margin-top: 30px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  color: black;
}

.content-section ul li a {
  color: #3d0404; /* Replace with your preferred color */
  text-decoration: none; /* Optional: removes underline */
  font-weight: bold; /* Optional: makes link text bold */
}

.content-section ul li a:hover {
  color: #eaf115; /* Optional: color on hover */
  text-decoration: underline; /* Optional: adds underline on hover */
}


.project-box {
  background-color: #f57c00; /* Darker orange box */
  border: 4px solid #000000; /* Thick black border */
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 25px;
  box-shadow: none; /* Optional: remove or reduce shadow */
}

.section-title {
  margin-top: 20px;
  font-weight: 600;
  color: #980808;
  border-bottom: 2px solid #65053f;
  display: inline-block;
}

.project-box h3 {
  margin-top: 0;
  color: #692003;
  font-size: 18px;
}

.project-box p,
.project-box ul li {
  color: #212121;
  font-size: 14px;
}

/* Override Bootstrap's table style */
.content-section table.table.table-bordered th,
.content-section table.table.table-bordered td {
  background-color: #d7932d !important;
  color: black !important;
  border: 1px solid #940b0b;
  padding: 10px;
}

footer {
  background-color: #f3d80f;
}
